<div class="clearfix <%= "error" if(@alumno.errors.any?) %>">

<%= form_for(@alumno) do |f| %>
  <% if @alumno.errors.any? %>
		<%= render :partial => 'layouts/error_list', :locals => {:errors => @alumno.errors} %>
  <% end %>

  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>
  <div class="actions">
    <%= f.submit "Crear alumno", {:class => "btn primary"}%>
  </div>
<% end %>

	</div>