<div class="page-header">
	<h1>Listado de alumnos <small><%= link_to 'Agregar Alumno+', new_alumno_path %></small></h1>
</div>

<div class="row">
	<%= label_tag("Filtro: ")%>
	<%= text_field_tag(:filtro, nil,:placeholder => "Escriba aqui para filtrar la lista", :class => "filtro_lista") %>
<table class="zebra-striped filtrable">
  <tr>
    <th>Nombre</th>
    <th>Derivaciones</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @alumnos.each do |alumno| %>
  <tr class="data">
    <td class="index"><%= alumno.nombre %></td>
    <td><%= alumno.derivacions.collect{ |d| d.materia.nombre }.join("-")%></td>
    <td><%= link_to 'Ver derivaciones', alumno %></td>
    <td><%= link_to 'Editar', edit_alumno_path(alumno) %></td>
    <td><%= link_to 'Borrar', alumno, :confirm => 'Esta seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


</div>