<p id="notice"><%= notice %></p>
<div class="page-header">
	<h1>Detalles del alumno</h1>
</div>

<div class="row">
<p>
  <b>Nombre:</b>
  <%= @alumno.nombre %>
</p>
<p>

	<% 
	@alumno.derivacions.each {|d| %>
		<div class="derivacion">
			Para preparar el examen de la materia <%=d.materia.nombre%> debo asistir los siguientes días:<br/>
			<ul>	
			<% d.materia.horarios.each { |h|  %>
				<li><%=h.dia%> desde las <%=h.desde%> hasta las <%=h.hasta%>
			<% } if !d.materia.nil? %>	
				</ul>
		</div>
	<% } %>

</p>


<%= link_to 'Edit', edit_alumno_path(@alumno) %> |
<%= link_to 'Back', alumnos_path %>

</div>