<%= form_for(@derivacion) do |f| %>
  <% if @derivacion.errors.any? %>
	<%= render :partial => 'layouts/error_list', :locals => {:errors => @derivacion.errors} %>
  <% end %>

  <div class="field">
    <%= f.label :alumno_id %>
	<%#=select("derivacion", "alumno_id", Alumno.all.collect { |a| [a.nombre, a.id]})%>
	 <%=f.text_field :alumno_nombre %>
  </div>
  <div class="field">
    <%= f.label :materia_id %>
	  <% 
		materias = Materium.all(:order => [:nombre, :nivel]).collect { |a| [a.nombre + " - " + to_ordinal(a.nivel), a.id]}
		materias_derivadas = @derivacion.alumno.derivacions.collect { |d| d.materia.id } if !@derivacion.alumno.nil?
	  %>
	  <%=select_tag("derivacion[materias]",options_for_select(materias,materias_derivadas),{:multiple => true, :size => 10, :id => "multiple-materias"} ) %>
	  <ul id="derivaciones-seleccionadas">
		  <li class="title">Materias seleccionadas</li>
		  <li >Total de materias: <b>0</b></li>
	  </ul>
	  <script type="text/javascript">
		$(updateMateriasSeleccionadas($("#multiple-materias")));
	  </script>
	  <div class="clearfix"></div>
  </div>
  <div class="actions ">
    <%= f.submit "Derivar", {:class => "btn primary"} %>
  </div>
<% end %>
