<%= form_for(@materium) do |f| %>
  <% if @materium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@materium.errors.count, "error") %> prohiben a esta materia de ser guardada:</h2>

      <ul>
      <% @materium.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
      <%= hidden_field_tag "materium[year]", (@materium.year.nil?) ? Date.today.year : @materium.year %>
  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :nivel%>
    <%= select_tag("materium[nivel]", options_for_select([["1ero", 1],["2do",2], ["3ero",3]], @materium.nivel))%>
  </div>

  <div class="field">
    <%= f.label :profesor%>
    <%= select("materium", "profesor_id", Profesor.by_year(session[:current_year]).collect { |p| [p.nombre, p.id]}) %>
  </div>

  <div class="field clearfix">
    <h2><%= f.label :horarios%></h2>
		  <%= link_to_add_fields "Agregar horario", f, :horario_materia %>
	  <div class="clearfix">
		<% f.fields_for :horario_materia do |builder| %>
		  <%=render 'horarios' , :f => builder%>
	 	<% end %>
	  </div>


  </div>


  <div class="actions ">
    <%= f.submit "Guardar", {:class => "btn primary"} %>
  </div>
<% end %>
