<p class="fields fecha-hora-materia">
	<br>
<%= f.text_field :dia,{:class => "date-picker"} %><br/>
<%= f.time_select :desde, {:class => "time-picker" }%><br/>
<%= f.time_select :hasta, {:class => "time-picker" } %><br/>
<%= f.hidden_field :_destroy %>
<%= link_to_function "remove", "remove_fields(this)" %>
</p>	
<div class="clearfix"></div>