<div class="page-header">
<h1>Listado de materias 
	<small>
		<%= link_to 'Agregar materia+', new_materium_path %>
	</small>
</h1>
</div>

<div class="row">
<table class="zebra-striped">
  <tr>
    <th>Nombre</th>
    <th>Nivel</th>
    <th>Fechas de recuperación</th>
    <th>Ex&aacute;menes</th>
    <th>Profesor</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @materia.each do |materium| %>
  <tr>
    <td><%= materium.nombre %></td>
    <td><%= to_ordinal(materium.nivel)%></td>
    <td class="date-td"><%=materium.horarios.collect {|h| format_latin_date(h.dia) }.join(" - ") %>
    <td class="date-td"><%=materium.exams.collect {|h| format_latin_date(h.fecha) }.join(" - ") %>
    <td><%=materium.profesor.nombre if !materium.profesor.nil?%>
	</td>
    <td><%= link_to '+Examen', new_exam_path(:mid => materium.id) %></td>
    <td><%= link_to 'Ver detalles', materium %></td>
    <td><%= link_to 'Editar', edit_materium_path(materium) %></td>
    <td><%= link_to 'Borrar', materium, :confirm => 'Esta seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

</div>