<div class="page-header">
<h1>Listado de materias 
	<small>
		<%= link_to 'Agregar materia+', new_materium_path %>
	</small>
</h1>
</div>

<div class="row">
<table class="zebra-striped">
  <tr>
    <th>Nombre</th>
    <th>Nivel</th>
    <th>Dias</th>
    <th>Profesor</th>
    <th></th>
    <th></th>
  </tr>

<% @materia.each do |materium| %>
  <tr>
    <td><%= materium.nombre %></td>
    <td><%= to_ordinal(materium.nivel)%></td>
    <td><%=materium.horarios.collect {|h| format_latin_date(h.dia) }.join(" - ") %>
    <td><%=materium.profesor.nombre if !materium.profesor.nil?%>
	</td>
    <td><%= link_to 'Show', materium %></td>
    <td><%= link_to 'Edit', edit_materium_path(materium) %></td>
    <td><%= link_to 'Destroy', materium, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

</div>